bod {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: lightgrey;
    color: darkslategray;
    margin: 20px;
}

h1 {
    font-size: 32pt;
    color: teal;
    font-weight: bold;
}

h2 {
    font-size: 26pt;
    color: #darkcyan;
}

h3 {
    font-size: 20pt;
    color: cadetblue;
    font-weight: normal;
}

p {
    font-size: 14pt;
    color: dimgrey;
    line-height: 1.6;
}

a:link, a:visited {
    color: royalblue;
    text-decoration: none;
}

a:hover {
    color: tomato;
    text-decoration: underline;
}

a:active {
    color: crimson;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

hr {
    margin: 20px 0;
}

.table-container {
    display: table;
    width: 100%;
    margin-top: 20px;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ddd;
}

#profilePicutre { 
    max-width: 100px; /* Sets the maximum image size to 300 */
    border-radius: 3px; /* Sets the border radius to 3 */
}

#sidebar {
    background-color: #543564; /* light purple background color */
    color: #ffffff; /* White text */
    padding: 30px; /* Sets the padding inside the sidebar */
    width: 400px; /* Sets the width of the sidebar */
    height: 200%; /* Sets the height of the sidebar */
}

nav {
    display: flex;
    flex-direction: row; 
}

nav a {
    color: grey; /* Grey link color */
    padding: 20px; /* Sets the padding for the clickable area */
    border-radius: 5px; /* Sets the border radius to 4 */
}

nav a:hover {
    background-color: #3f345e; /* dark purple background color */
    color: #c3c6c7; /* light grey text color */

#myButton {
    margin-top: 1rem;
}

form {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

#Message {
    height: 50px;
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    color: rgb(0, 0, 0);
    vertical-align: top;
    box-sizing: border-box;
    resize: vertical;
}

#myButton {
    color: rgb(2, 86, 126);
    font-size: 17px
}